.mail-details-top {
    display: flex;
  }
  .mail-details-top i {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }
  .mail-details-bottom {
    display: flex;
  }
  .mail-details-bottom i {
    margin-inline-start: 10px;
    margin-block-start: 20px;
    border: 2px solid lightgrey;
  }
  .mail-details {
    font-family: sans-serif;
  
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 2.25rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  }
  
  .mail-details-top-container {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
  }
  .mail-details-top {
    display: flex;
    justify-content: space-between;
  }
  .mail-details-edit {
    background-color: inherit;
    border: none;
    margin-inline-start: 10rem;
    margin-block-start: 20px;
  }
  .mail-details-edit:hover {
    cursor: pointer;
    border: 0.3px solid rgb(146, 22, 22);
  }
  .save-note {
    cursor: pointer;
  }
  .tool-tip-button {
    position: relative;
  }
  
  .tooltip {
    display: none;
    position: absolute;
    top: 100%;
    left: 30%;
  
    transform: translateX(0%);
    background-color: rgb(175, 173, 173);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
  }
  
  .tool-tip-button:hover .tooltip {
    display: block;
  }
  .corner-detail-btns {
    display: flex;
  }
  