.box-filter {
  position: fixed;
  left: 5px;
  top: 125px;
  width: 500x;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  z-index: 1;
}

.box-filter button {
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 55px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  

}

