.note-filter {
	text-align: center;
	padding: 20px 0;
}

.select-btn {
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f5f5f5;
	cursor: pointer;
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}
