.book-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.book-list li {
	display: grid;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	border: 2px solid #ccc;
	padding: 10px;
	background-color: rgb(106, 138, 106);
}

.book-list img {
	height: auto;
	width: 300px;
}

.btn-book{
	
}
/* 
<!-- HTML !-->
<button class="button-88" role="button">Button 88</button> */

/* CSS */
.btn-book {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgb(118, 123, 120) 0%, rgb(213, 216, 213) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-book:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.btn-book:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}