* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0 0 1em;
}

a {
	text-decoration: none;
	/* color: inherit; */
	color: unset;
	cursor: pointer;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	max-width: 100%;
}
