.user-msg {
	background-color: lightgray;
	padding: 0.5em 1em;
	font-weight: bold;
	border-radius: 2px;
	z-index: 1;
	position: absolute;
	bottom: 1em;
	right: 1em;
}

.user-msg.success {
	background-color: #9eb384;
}

.user-msg.error {
	background-color: #e23d28;
}

.user-msg button {
	float: right;
	margin: 1em;
	border-radius: 20px;
}
